/* FoodShop Styles */
.foodshop h2 {
    margin-top: 50px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 4px;
}

.product h2 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#cart {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.quantity-input {
    width: auto;
    margin: 0 10px;
}

.cart-item img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Action buttons styles */
.action-button,
.action-logout-button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.action-button:not(.logout-button):hover {
    background-color: #3f51b5;
}

.action-button,
.logout-button {
    width: 150px;
}

@media (max-width: 600px) {
    .action-button,
    .logout-button {
        width: auto;
    }
}

